body{
    
    background-color: #363946;
    border-radius: 3px;
    box-sizing: border-box;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    padding-right: 13px;
    font-family: 'Exo', sans-serif;
}

img{
    align-self: center;
    height: 150px;
    width: 150px;
}

header{
    text-align: center;
}
.pic-of-me{
    text-align: center;
}

h1{
    text-align: center;
    font-family: 'Exo', sans-serif;
}

h2{
    color: white;
    font-family: 'Exo', sans-serif;
}

h3{
    text-align: center;
    border: black;
    border-radius: 3px;
    background-color: rgb(117, 117, 117);
    box-sizing: border-box;
    margin: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Exo', sans-serif;
}

p{
    font-family: 'Exo', sans-serif;
    text-align: center;
    color: white;
    text-shadow: whitesmoke;
}

li{
    color: white;
}

.projects{
    text-align: center;
}



.ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.page-footer{
    background-color: #B1B6A6;
    border-radius: 3px;
}

.contact-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 13px;
}

@media screen and (min-width: 700px){

    .project-one{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}

@media screen and (min-width: 1200px){
    .project-one{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}